/* responsive */
@media all and (min-width: 530px) and (max-width: 4000px) {
  .showbar #open-remove-small {
    display: none;
  }
  .row {
    display: block;
  }
  .showbar .date {
    margin-right: 4em;
  }
}
@media all and (min-width: 0px) and (max-width: 529px) {
  .row,
  .showbar #open-remove {
    display: none;
  }
  .showbar #open-remove-small {
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .showbar .date {
    margin-right: 2em;
  }
}
@media all and (min-width: 1291px) and (max-width: 4000px) {
  .showbar #open-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .showbar .button {
    border-radius: 6px;
  }
  .showbar {
    width: 72% !important;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #eeeeee;
  }
}
@media all and (min-width: 1172px) and (max-width: 1290px) {
  .showbar #open-remove {
    display: flex;
  }
  .showbar .button {
    border-radius: 6px;
  }
  .showbar {
    background-color: white;
    border-radius: 0px;
    margin-left: 0px !important;
    padding-left: 25%;
  }
}
@media all and (min-width: 993px) and (max-width: 1171px) {
  .showbar #open-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .showbar .button {
    border-radius: 6px;
  }
  body,
  .showbar {
    background-color: white;
  }
  .showbar {
    margin-left: 0px !important;
    border: none;
    border-radius: 0px;
  }
}
@media all and (min-width: 638px) and (max-width: 992px) {
  .showbar #open-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .showbar .button {
    border-radius: 6px;
  }
  body,
  .showbar {
    background-color: white;
  }
  .showbar {
    margin-left: 0px !important;
  }
  .sidenav-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: x-large;
    cursor: pointer;
  }
}
@media all and (min-width: 530px) and (max-width: 639px) {
  body,
  .showbar {
    background-color: white;
  }
  .showbar {
    margin-left: 0px !important;
  }
  .sidenav-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: x-large;
    cursor: pointer;
  }
  .showbar .button {
    border-radius: 0px;
  }
  .open-remove {
    display: none;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 0px) and (max-width: 530px) {
  body,
  .showbar {
    background-color: white;
  }
  .showbar {
    margin-left: 0px !important;
  }
  .sidenav-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: x-large;
    cursor: pointer;
  }
  .showbar .button {
    border-radius: 0px;
  }
  .open-remove #open,
  .open-remove #remove {
    display: none !important;
  }
}

/* navbar */
img#background {
  width: 100%;
}
.default-border {
  border-left: 5px solid white;
}
.active-cyan {
  border-left-color: #00b8d4;
}

/* userbar */
.userbar {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 0.5em;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.userbar img {
  cursor: pointer;
}
.userbar i {
  font-size: 30px;
  font-weight: 100;
  color: #e0e0e0;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 5px;
}
.userbar #text {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.userbar #text #name {
  cursor: pointer;
}
.userbar #text #company {
  margin-top: -6px;
}

/* showbar */
.showbar {
  /* width: 72%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 25%;
  margin-top: 2%;
}
.showbar #title {
  margin-left: 3%;
  font-weight: 400;
}
.showbar #search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.showbar #search-with-icon {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  padding-bottom: 0.35em;
  padding-left: 0.2em;
  padding-top: 0.3em;
  padding-right: 0.2em;
  margin-right: 1em;
}
.showbar #search-input {
  padding: 0.2em;
  border: none;
  background-color: white;
}
.showbar i {
  cursor: pointer;
}
.showbar .line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.showbar #part-1 {
  display: inline-flex;
  align-items: center;
}
.showbar .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  height: 4em;
  width: 4em;
  margin: 0.6em;
}
.showbar .date #day {
  font-size: 1.6em;
  margin-top: 0.1em;
}
.showbar .date #mounth {
  margin-top: -0.5em;
}
.showbar #name {
  display: flex;
  flex-direction: column;
}
.showbar #name p {
  margin-top: -5px;
  font-size: 0.7em;
  color: #757575;
  font-weight: 600;
}
.showbar #collaborators {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.showbar #collaborators p {
  margin-right: 1em;
}
.showbar .open-button {
  background-color: #eeeeee !important;
  border: none;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

/* sidenav */
.sidenav-fix {
  transform: translateX(0) !important;
}
